.cabecera{
 //la cabecera es un grid
    display: grid;
    grid-template-columns: minmax(10rem, 1fr) repeat(7, minmax(min-content, 16rem)) minmax(10rem, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-gap:2rem
}
.first-nav{
    //posicionar dentro grid cabecera  
    margin-top: 1rem;
    grid-column: 6/ 10;
    grid-row: 1 / 2;
    
    &-list{
        //le damos una distribucion space-around
        @include flexposition(space-around,center );
        @include flexFlow(row);
       height: 100%;
       
    }
    &-item{
       list-style-type: none;
       
    }
    &-link{
        color: color(primary);
        font-size: size(sm);
        text-decoration: none;
        transition: all .3s;
        font-weight: 600;
        color: darken(color(quaternary), 60%) ;
        &:hover{
            color: color(btnBuy);
        }
        list-style: none;
    }

    //vamos distribuyendo el menu respeto a la pantalla
    @include response(xl){
        grid-column: 4/ 10;
    }
    @include response(lg){
        grid-column: 3/ 10;
    }
    @include response(md){
        grid-column: 2/ 10;
    }
    @include response(sm){
        grid-column: 1 / -1;
    }
}
